## Series

In [83]:
def decodeString(si: str) -> str:
    a = []
    l = []
    s = ""
    c = 0
    temp =''
    for i in range(len(si)):
        if si[i].isdigit():
            temp += si[i]
            if si[i+1] == '[':
                l.append(int(temp))
                temp=""
        elif si[i] == '[':
            c += 1
            a.append('')
        elif si[i] == ']':
            c -= 1
            if c == 0:
                s += l[-1] * a[-1]
            else:
                a[-2] += l[-1] * a[-1]
            a.pop()
            l.pop()
        else:
            if c == 0:
                s += si[i]
            else:
                a[-1] += si[i]
    return s

In [85]:
decodeString("2[abc]3[cd]ef")

'abcabccdcdcdef'

In [3]:
import numpy as np
import pandas as pd

In [5]:
#Creating a series from a Python list
myindex=['USA','Canada','England']
mydata=[1776,1867,1821]

In [7]:
myser=pd.Series(data=mydata)
print(myser)

0    1776
1    1867
2    1821
dtype: int64

In [15]:
myser=pd.Series(data=mydata,index=myindex)
print(myser)

USA        1776
Canada     1867
England    1821
dtype: int64

In [39]:
#Creaitng a series from NumPy array
ran_data=np.random.randint(0,100,4)
print(ran_data)

[42 81  5 97]

In [41]:
names=['Alice','Bob','Charles','Dave']
ages=pd.Series(ran_data,names)
print(ages)

Alice      42
Bob        81
Charles     5
Dave       97
dtype: int32

In [49]:
ages={'Sammy':5,'Frank':10,'Spike':7}
print(ages)
print(pd.Series(ages))

{'Sammy': 5, 'Frank': 10, 'Spike': 7}
Sammy     5
Frank    10
Spike     7
dtype: int64

In [51]:
q1={'Japan':80, 'China':450, 'India': 200, "USA":250}
q2 = {'Brazil':100, 'China':500, 'India':200, 'USA':250}

In [53]:
#converting into panda series
sales_q1 = pd.Series(q1)
sales_q2 = pd.Series(q2)
print(sales_q1)

Japan     80
China    450
India    200
USA      250
dtype: int64

In [55]:
print(sales_q1['Japan'])

80

In [57]:
print(sales_q1[0])

80

C:\Users\DAI.STUDENTSDC\AppData\Local\Temp\ipykernel_20152\2680012996.py:1: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  print(sales_q1[0])

In [63]:
#Can perform Operations Broadcasted across entire Series
print(sales_q1*2)
print(sales_q2/100)

Japan    160
China    900
India    400
USA      500
dtype: int64
Brazil    1.0
China     5.0
India     2.0
USA       2.5
dtype: float64

In [75]:
#For NaN
print(sales_q1+sales_q2)

Brazil      NaN
China     950.0
India     400.0
Japan       NaN
USA       500.0
dtype: float64

In [77]:
#fill NaN
print(sales_q1.add(sales_q2,fill_value=0))

Brazil    100.0
China     950.0
India     400.0
Japan      80.0
USA       500.0
dtype: float64